<div id="doogle">
  <h1>
    <span class="blue">D</span>
    <span class="red">o</span>
    <span class="yellow">o</span>
    <span class="blue">g</span>
    <span class="green">l</span>
    <span class="red">e</span>
  </h1>

  <form accept-charset="UTF-8" action="/new_entry" id="entry_form" method="post">
<!--
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="+qUWEECV/2DCv3qC7aShKWbaWE1lUz9EYPdXY6jxjFo=" />
    </div>
-->
    <span>
      <input id="entry_word" class="search_field" name="entry[word]" type="text" autofocus="autofocus"/>
    </span>

    <div>
      <input id="search_button" class="search_button" name="commit" type="submit" value="Doogle Search"/>
    </div>
  </form>

</div>