// Place all the styles related to the Doogle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#doogle{
  width: auto;
  margin: auto;
  text-align:center;
}

.adjustable{
  display: inline-block;
  max-width: 800px;
  padding: 0px 15px 0px 15px;
  resize: horizontal;
}

//Doogle title colors
.blue{
  font-size: 2.5em;
  color: blue;
}

.red{
  font-size: 2.5em;
  color: red;
}

.yellow{
  font-size: 2.5em;
  color: yellow;
}

.green{
  font-size: 2.5em;
  color: green;
}

//Input Stytes
#search_field{
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  height: 28px;
  margin: auto;
  resize:horizontal;
}

#search_button{
  font-size: 1.2em;
  margin: 10px;
  height: 28px;
}

#input_validation{
  font-size: 1.2em;
  color: red;
}

//search results style
.definitions{
  width: 100%;
  text-align:left;
  padding: 10px;
}

.definition{
  font-size: 1.2em;
}