// Place all the styles related to the Doogle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#doogle{
  margin: auto;
  text-align:center;
}

//Doogle title colors
.blue{
  font-size: 2.5em;
  color: blue;
}

.red{
  font-size: 2.5em;
  color: red;
}

.yellow{
  font-size: 2.5em;
  color: yellow;
}

.green{
  font-size: 2.5em;
  color: green;
}

//Input Stytes
.search_field{
  font-size: 1em;
  width: 30%;
  height: 25px;
}

.search_button{
  font-size: 1em;
  margin: 10px;
  height: 25px;
}